html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    letter-spacing: 1px;
    overflow: auto;
}

@keyframes slide-in {
    0% {
      max-height: 25%;
      overflow: hidden;
    }

    100% {
        max-height: 1500px;
        overflow: auto;
    }
}

body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
a {
    color:#9147ff;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
select {
    width: 79%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}


.file-log {
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: 1px solid #E6EAF0;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.2);
    padding: 1%;
    margin-bottom: 25px;
    overflow: auto;
    animation: slide-in 2s;
}

#title1 {
    display: block;
    margin: auto;
    text-align: center;
    margin: 20px;
}

#intro {
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    border-bottom: 20px;
    border-color: aqua;
}

.fieldElems {
    display: block;
    float: left;
    width: 13%;
    text-align: center;
    border: #4588ba;
}

.fields {
    border-bottom: 1px solid #9147ff; 
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 100%;
    overflow: auto;  
}

#elem1 {
    width: 200px !important;
}

#elem2 {
    width: 200px !important;
}

#log2img {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid #9147ff; 
    overflow: auto;
}

.view-elems {
    display: block;
    float: left;
    text-align: left;
    margin: 0.5%;
    width: 100%;    
}

.entryBox, .entry-box2, .entry-box3 {
    width: 50%;
    float: right;
    margin-right: 40%;
    margin-left: 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
}

.entry-box2, .entry-box3 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#desc {
    float: none;
    display: block;
}

#view-panel {
    padding: 2%;
    width: 100%;
    display: block;
    max-height: 1500px;
}

#log-panel {
    padding: 2%;
    width: 100%;
    display: block;
    overflow: auto;
    max-height: 1500px;
}

.panel-buttons {
    display: flex;
    width: 33%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;    
}

h3 {
    margin: 1%;
}

#btns {
    width: 100%;
}

#submit {
    margin-right: 0;
    margin-left: auto;
    width: 50%;
    justify-content: right;
    text-align: right;
}

#edit {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
}

#show {
    margin-right: auto;
    margin-left: 0;
    width: 50%;
    justify-content: left;
}

.view2 {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    border: #9147ff;
}

.view-content, .view-attrs, .view-attrs2 {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    border: #9147ff;
}

.view-attrs, .view-attrs2 {
    width: 50%;
}

#attr-name, #attr-value {
    width: 50%;
}

#btn-submit, #btn-submit-shape, #btn-show, .btn-add, #sbmt-attr, #btn-hide, .shape-add {
    width: 175px;
    text-align: center;
    background-color: #9147ff;
}

#sbmt-attr, #btn-submit, #btn-submit-shape{
    background-color: #04AA6D;
}

#submit-shape-add {
    display: flex;
    width: 100%;
    justify-content: center;
}

.shape-add {
    background-color: #9147ff;
}

#div-add, #div-scale {
    width: 50%;
    display: flex;
    justify-content: left;
}

#div-scale {
    justify-content: right;
}

#inside-table {
    margin-top: 2%;
    width: 100%;
    display: block;
}

.labels {
    margin-top: 10px;
}

#attrs-log {
    margin-top: 10%;
    width: 100%;
    transition: height 2s linear 1s;
}

#save {
    width: 100%;
    justify-content: right;
}

.add {
    width: 100%;
    justify-content: center;
}

#image2 {
    margin-bottom: 5%;
}